.course2 {
    width: 16.8rem;
    background-image: url(./course2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;   
}

.course2 .note {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
}

.course2 .content {
    margin-top: 9.3rem;
    height: 17.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    
}

.course2 .content a .uni {
    color: gray;
}

.course2 .content a .new {
    color: white;
    background-color: red;
}

.course2 .content a .title {
    font-size: 1.3rem;
    font-weight: bold;    
}

.course2 .content a:visited .title {
    color: black;
}



