.findout {
    height: 19rem;
    background-image: url(./right.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -6rem; 
    padding-left: 5rem;
    padding-top: 2rem;
    color: white;       
}

.findout .info {
    font-size: 1rem;
    
}

.findout .main {
    font-size: 2rem;
}