.explore {
    height: 19rem;
    background-image: url(./left.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -6rem; 
    padding-left: 23rem;
    padding-top: 2rem;
    color: white;       
}

.explore .info {
    font-size: 0.9rem;
    
}

.explore .main {
    font-size: 1.7rem;
    line-height: 3rem;
}