.partners {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc
}

.intro {
    font-size: 1.5rem;
}

.partner_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partner_logo img {
    width: 7rem;
    margin: 3rem 1rem 3rem 1rem;    
}

.mi {
    height: 5.5rem;
}